@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kaisei+HarunoUmi&family=Poppins:wght@500&display=swap');

body {
  padding: 5%;
  margin: 0%;
}

input {
  width: 100%;
  border: 1px solid gray;
}

button {
  width: 10vh;
  height: 5vh;
}

.row   h5::after {
  content: "*";
  color: red;
  display: inline-block;
  text-indent: 9px;
  padding-left: 0%;
}


  .textarea {
    display: block;
    width: 100%;
    overflow:hidden;
    resize: both;
    min-height: 15vh;
   
}
.fa-star {
  color: rgb(238, 193, 109);
}

.fa-star:hover {
  color: orange;
}

.container {
  padding: 0% 0%;
  padding-left: 5px;
}

.col {
  padding: 5px 0%;
  justify-content: space-around;
  height: auto;
  padding-left: 10px;
display: flex;
  align-items: center;
  font-family: 'Kaisei HarunoUmi', serif;
}

.col-sm-2{
  align-items: left;
  padding: 5px 0%;
  justify-content: space-around;
  height: auto;
  padding-left: 10px;
  font-family: 'Kaisei HarunoUmi', serif;
  font-weight:bold;

}

h5{
  font-family: 'Poppins', sans-serif;
}


.row:nth-child(even) {
  background-color: rgb(239, 243, 243);
}

.rad {
  height: 18px;
  width: 60px;
  font-weight: 100vh;
  text-align: center;
  background-color: rgb(209, 206, 206);
}
